#Index{
	margin-top: 64px;

 .section{
 	width:375px;
 	height: 135px;
 	border-bottom: 1px solid #d9d9d9;
 	.ninepieces{ 


 		    float: left;
		    width: 50%;
		    font-size: 16px;
		    color: #877a73;
		    padding: 7px;
		    box-sizing: border-box;
		    height: 70px;
		    position: relative;


			
 	.ninepieces_1{
 	    
 			margin-right:70px;
		    height: 70px;
		    overflow: hidden;
		    .p1{
		    	line-height: 1;
			    margin-top: 8px;
			    font-size: 14px;
			    margin-left: 7px;
			    color: #43240c;
		    }
		    .p2{
		    	font-size: 12px;
			    margin-top: 8px;
			    margin-left: 7px;
			    color: #fda900;
			}
		    }
		   img{
				 display: block;
			    position: static;
			    margin: -23px auto 0;
			    width: auto;
			    height: 68px;
			    border: none;
			     right: 15px;
   				 top: 6px;
		   }
 		}
 	.coupon{
 		border-left: 1px solid #d9d9d9;
 		border-bottom: 1px solid #d9d9d9;

 		    float: left;
		    width: 50%;
		    font-size: 16px;
		    color: #877a73;
		    padding: 7px;
		    box-sizing: border-box;
		    height: 68px;
		    position: relative;
		   div{
		   	margin-right: 70px;
			    height: 75px;
			    overflow: hidden;
			 .p1{
		    	line-height: 1;
			    margin-top: 8px;
			    font-size: 14px;
			    margin-left: 7px;
			    color: #43240c;
		    }
		    .p2{
		    	font-size: 12px;
			    margin-top: 8px;
			    margin-left: 7px;
			    color: #fda900;
			}

		   }
		img{
			    width: 56px;
			    height: 56px;
			    position: absolute;
			    border: none;
			    right: 15px;
			    top: 6px;
		}
 		}
 	}

 .top-list{
 	background-color: #fff;
    margin: 7px 0 0;
 	.head-list{
 	font-size: 14px;
    color: #877a73;
    padding: 10px;
    box-sizing: border-box;
    span{
    	float: left;
    	color: #43240c;
    }
    .right{
    	float: right;
    	    color: #333;
    	text-decoration: none;

    }

 	}
 	
 }
 .top-swipe{
 	margin-top: 15px;
 	width: 100%;
 	.swiper-container{
 		width: 375px;
 		.top-commodity{
 			text-decoration: none;
 			    position: relative;
			    display: inline-block;
			    width:105px;
			    overflow: hidden;
			    background-color: #fff;
			    .tag{
			    		left: 0;
			    	    position: absolute;
					    width: 19px;
					    height: auto;
			    }

			.commodity-img{
				width: 105px;
				height: 105px;
				img{
					width: 105px;
				height: 105px;
					border: 1px solid #d9d9d9;
    				box-sizing: border-box;
				}
			}
		.commodity-info{
				width: 105px;
				height: 50px;
				    padding: 4px 0;
    				box-sizing: border-box;

    		.commodity-title{
    			    font-size: 10px;
				    width: 100%;
				    height: 15px;
				    overflow: hidden;
				    margin-bottom: 4px;
				    text-align: left;
				    text-overflow: ellipsis;
				    color: #877a73;
				    white-space: nowrap;
    		}
    		.commodity-price{
    			    height: 23px;
				    line-height: 23px;
				    vertical-align: bottom;
				    .price{
				    	    display: inline-block;
							    color: #fa585a;
							    font-size: 16px;
							    font-weight: 700;
							    margin-right: 4px;
							    vertical-align: middle;
					.price-tag{
						    font-size: 12px;
							    font-style: normal;
							    font-weight: 400;
							}
					.digit{
						    font-size: 12px;
    						font-weight: 400;
					}
					}
				.num{
					    display: inline-block;
					    font-size: 9px;
					    color: #877a73;
					    line-height: 21px;
					    vertical-align: bottom;
				    }
				}
    		}
			}
 		}
 	}

 	.split-line{
 		    color: hsla(21,8%,49%,.7);
		    font-size: 12px;
		    text-align: center;
		    height: 40px;
		    line-height: 40px;
		    vertical-align: middle;
		    font-size: 0;
		   .line{
		    	    height: 1px;
			    background-color: #fdde4a;
			    width: 12%;
			    display: inline-block;
			    margin-bottom: 3px;
		    }
		    .text{
		    	    font-size: 12px;
		    }
 	}
 	.content{
 		ul{
 			    list-style-type: none;
    			overflow: hidden;
 			li{
 				display: block;
			    float: left;
			    width: 50%;
			    height: 277px;
			    overflow: hidden;
			    margin-bottom: 6px;
			    position: relative;
			    box-sizing: border-box;
			    .banner-card{
			    	    display: inline-block;
					    width: 100%;
					    height: 100%;
					    background-size: cover;
					    background-repeat: no-repeat;
					    background-position: 50%;
			    	}
			    .commodity-card{
			    	background-color: #fff;
				    display: inline-block;
				    width: 100%;
				    height: 100%;
				    position: relative;
				    border: none;
				    box-shadow: 0 1px 1px -1px rgba(0,0,0,.5);
				   .commodity-container{
				   	overflow: hidden;
				    position: relative;
				    padding-top: 100%;
				    width: 100%;
				    display: block;
				    .commodity-card-img{
				    	    position: absolute;
						    top: 50%;
						    left: 50%;
						    height: 100%;
						    display: block;
						    transform: translate(-50%,-50%);
				    }
				   }
				   .commodity-card-msg{
				   	    padding: 9px 11px;
    					box-sizing: border-box;
    				.commodity-card-title{
    					    overflow: hidden;
						    font-size: 12px;
						    line-height: 18px;
						    text-overflow: ellipsis;
						    color: #877a73;
						    white-space: nowrap;
    				}
    				.commodity-card-keyword{
    					overflow: hidden;
				    position: relative;
				    margin: 5px auto 0;
				    .keyword{
				    	float: left;
				    	background-color: #df2b2f;
				    	color: #fff;
					    border-radius: 2px;
					    box-shadow: none;
				    }
				   .free-postage{
				    	    position: absolute;
						    bottom: -2px;
						    right: 0;
						    margin: 0;
						    padding: 0;
						    font-size: 12px;
						    color: #877a73;
						    box-shadow: none;
				    	}
    				}
    				.commodity-card-foot{
    				position: relative;
				    height: 24px;
				    font-size: 0;
				    overflow: hidden;
				    margin-top: 4px;
				    text-align: left;
				    vertical-align: bottom;
				   .left{
						position: absolute;
					    bottom: 0;
					    left: 0;
					    vertical-align: bottom;
					    .price{
					    	    color: #fa585a;
							    font-size: 0;
							    font-weight: 400;
							    line-height: 20px;
							    margin-right: 6px;
							    vertical-align: bottom;
						.price-tag{
							   	display: inline-block;
							    font-size: 12px;
							    font-style: normal;
							    font-weight: 400;
							    line-height: 12px;
							   }
						.price-strong{
							    	color: #fa585a;
							   	    display: inline-block;
								    font-size: 20px;
								    line-height: 15px;
							   }
						.digit{
							    color: #fa585a;
								display: inline-block;
							    font-size: 12px;
							    line-height: 12px;
						}

					    }
					    .sale-num{
					    	display: inline-block;
						    font-size: 10px;
						    color: #877a73;
						    letter-spacing: 0;

					    }
					    .coupon-value{
							position: absolute;
						    bottom: 1px;
						    right: -50px;
						    padding: 1px 3px 0;
						    font-size: 10px;
						    line-height: 14px;
						    text-align: center;
						    color: #fa585a;
						    border-radius: 2px;
						    box-shadow: inset 0 0 0 1px #fa585a;
						    vertical-align: bottom;
					    }

				    }
    				}
				   }

			    }
 			}
 		}
 	}
 }





 
