*{
    padding:0;
    margin:0;
    list-style: none;
}

#hzb1_man .hzb1_up{
    background-color: #fff;
.hzb1_nav{
    height: 114px;
    line-height:194px;
    overflow: hidden;
    .hzb1_line{
        height: 1px;
        width:12%;
        display: inline-block;
        background-color: #fdde4a;
        margin-bottom: 3px;
    }
    .hzb1_text{
        
        border:3px solid #fdde4a;
        box-sizing:border-box;
        margin-top: -3px;
        display: inline-block;
        transform:rotate(45deg);
    }
    .hzb1_con{
        margin-left: 15px;
        margin-right: 15px;
        color:hsla(21,8%,49%,.7);
        font-size:15px;
    }
    
}
}

#hzb1_man #hzb1_list{
    display: flex;
    width:100%;
    height: 175px;
    flex-wrap:wrap;
    li{
        width: 25%;
        list-style: none; 
        background-size:cover;
        margin-bottom: 20px;
        img{
            width: 50px;
        }
        p{
            color:hsla(21,8%,49%,.7);
            font-size:15px;
        }
    }
}

#hzb1_man .hzb1_content{ 
    .hzb1_nav{
        height: 50px;
        line-height:50px;
        overflow: hidden;
    
    }
    .hzb1_line{
        height: 1px;
        width:12%;
        display: inline-block;
        background-color: #fdde4a;
        margin-bottom: 3px;
    }
    .hzb1_text{
        
        border:3px solid #fdde4a;
        box-sizing:border-box;
        margin-top: -3px;
        display: inline-block;
        transform:rotate(45deg);
    }
    .hzb1_con{
        margin-left: 15px;
        margin-right: 15px;
        color:hsla(21,8%,49%,.7);
        font-size:15px;
        
    }
 
    
}

#hzb1_man #hzb1_tupian{
    display: flex;
    width:100%;
    flex-wrap:wrap;
    justify-content:space-between;
    li{
        position: relative;
        width: 49%;
        height: 310px;
        margin-bottom: 8px;
        flex-wrap:wrap;
        background-color: #fff;
        box-shadow: 0 1px 1px -1px rgba(0,0,0,.5);
        img{
            width: 100%;
        }
        .hzb1_info{
            overflow: hidden;
            
            p{
            text-indent: 4px;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            color:hsla(21,8%,49%,.7);
            font-size:14px;
            }
            .hzb1_taobao{
                position: absolute;
                left:10px;
                top:230px;
                width: 20px;
                height: 10px;
                background-color: #f00;
                color: #fff;
                font-size: 10px;
                border-radius:3px;
              }
              .hzb1_tianmao{
                position: absolute;
                left:10px;
                top:230px;
                width: 40px;
                height: 17px;
                background-color: #f00;
                color: #fff;
                font-size: 10px;
                border-radius:3px;
              }
                .hzb1_bao{
                position: absolute;
                right:15px;
                color:hsla(21,8%,49%,.7);
                top:230px;
                font-size:14px;
            }
            .hzb1_d1{
                
                background-color: #fdde4a;
                margin-top: 40px;
                
            .hzb1_price{
               margin-right: 5px;  
                color:#f00;
                float:left;
                font-size:20px;
                display: inline-block;
            }
            .hzb1_num{
                color:hsla(21,8%,49%,.7);
                float:left;
                font-size:12px;
                display: inline-block;
                line-height: 30px;
            }
        }
            
        }
        
    }
}