*{
    padding:0;
    margin:0;
    list-style: none;
}

#beauty .up{
    background-color: #fff;
    margin-top: 84px;
.nav{
    height: 50px;
    line-height:50px;
    overflow: hidden;
    .line{ 
        height: 1px;
        width:12%;
        display: inline-block;
        background-color: #fdde4a;
        margin-bottom: 3px;
    }
    .text{
        
        border:3px solid #fdde4a;
        box-sizing:border-box;
        margin-top: -3px;
        display: inline-block;
        transform:rotate(45deg);
    }
    .con{
        margin-left: 15px;
        margin-right: 15px;
        color:hsla(21,8%,49%,.7);
        font-size:15px;
    }
    
}
}

#beauty #list{
    display: flex;
    width:100%;
    height: 350px;
    flex-wrap:wrap;
    li{
        width: 25%;
        list-style: none; 
        background-size:cover;
        margin-bottom: 20px;
        img{
            width: 50px;
        }
        p{
            color:hsla(21,8%,49%,.7);
            font-size:15px;
        }
    }
}

#beauty .content{ 
    .nav{
        height: 50px;
        line-height:50px;
        overflow: hidden;
    
    }
    .line{
        height: 1px;
        width:12%;
        display: inline-block;
        background-color: #fdde4a;
        margin-bottom: 3px;
    }
    .text{
        
        border:3px solid #fdde4a;
        box-sizing:border-box;
        margin-top: -3px;
        display: inline-block;
        transform:rotate(45deg);
    }
    .con{
        margin-left: 15px;
        margin-right: 15px;
        color:hsla(21,8%,49%,.7);
        font-size:15px;
        
    }
 
    
}

#beauty #tupian{
    display: flex;
    width:100%;
    flex-wrap:wrap;
    justify-content:space-between;
    li{
        position: relative;
        width: 49%;
        height: 310px;
        margin-bottom: 8px;
        flex-wrap:wrap;
        background-color: #fff;
        box-shadow: 0 1px 1px -1px rgba(0,0,0,.5);
        img{
            width: 100%;
            height:184px;
        }
        .info{
            overflow: hidden;
            
            p{
            text-indent: 4px;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            color:hsla(21,8%,49%,.7);
            font-size:14px;
            }
            .taobao{
                position: absolute;
                left:10px;
                top:225px;
                width: 40px;
                height: 17px;
                background-color: #f00;
                color: #fff;
                font-size: 10px;
                border-radius:3px;
              }
              .tianmao{
                position: absolute;
                left:10px;
                top:225px;
                width: 40px;
                height: 17px;
                background-color: #f00;
                color: #fff;
                font-size: 10px;
                border-radius:3px;
              }
                .bao{
                position: absolute;
                right:15px;
                color:hsla(21,8%,49%,.7);
                top:225px;
                font-size:14px;
            }
            .d1{
                
               
                margin-top: 40px;
                
            .price{
               margin-right: 5px;  
                color:#f00;
                float:left;
                font-size:20px;
                display: inline-block;
            }
            .num{
                color:hsla(21,8%,49%,.7);
                float:left;
                font-size:12px;
                display: inline-block;
                line-height: 30px;
            }
            .value{
                color:#f00;
                float: right;
                margin-right: 5px;
                font-size:9px;
                display: inline-block;
                margin-top: 5px;
                border:1px solid #f00;
  
            }
        }
            
        }
        
    }
}